<head>

</head>

<body>
<h1>Eventbrite</h1>
<h2>Voici un super event</h2>
<div class="button">
  <%= link_to "Créer un Event! +", new_event_path, :class=>"btn btn-outline-success my-2 my-sm-0" %>
</div> 
<div class="infos"
    <p> --> Localisation : <p> 
    <p> <%= @element.location %> </p>
    <p> --> Titre : <p>
    <p> <%= @element.title %> </p>
    <p> --> Description :</p>
    <p> <%= @element.description %> </p>
    <p> --> Prix :</p>
    <p> <%= @element.price %> </p>
    <p> --> Date :</p>
    <p> <%= @element.started_date %> </p>
    <p> --> Durée :</p>
    <p> <%= @element.duration %> </p>

    <div class="actions mt-2 mb-2">
        <%= link_to "Revenir à la page d'accueil", event_index_path, class: "btn btn-xl btn-danger btn-block" %>
    </div>
</div>
</body>