<head>

</head>

<body>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <%= form_for Event.new, url: event_index_path, html: { class: "form-signin mt-3" } do |f| %>
      <h1 class="h3 mb-3 font-weight-normal text-center">Eventbrite</h1>
      <h2>Rempli le formulaire pour t'inscrire à l'évènement</h2>
      <div class="form-group">
          <%= f.label :email, 'Email' %><br />
          <%= f.text_field :email, class: "form-control" %>
      </div>
      <div class="form-group">
          <%= f.label :location, 'Localisation' %><br />
          <%= f.text_field :location, class: "form-control" %>
      </div>
      <div class="form-group">
          <%= f.label :price, 'Prix' %><br />
          <%= f.text_field :price, class: "form-control" %>
      </div>
      <div class="actions mt-5 mb-5">
        <%= submit_tag "S'inscrire", :class=>"btn btn-success", data: { turbo: false } %>
      </div>
      <div class="button">
      <%= button_to "Passer commande", checkout_create_path(total: @element.price), :class=>"btn btn-primary", data: {turbo: false} %>
      </div>   
      <% end %>
    </div>
  </div>   
</div>                
</body>